@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique&display=swap');

.fullsceen{
  position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: url("./assets/IMG_20191012_170346.jpg");
    background-position: center;
    background-repeat: no-repeat;
    
    background-color: black;
}

.firstName{
  position:fixed;
  font-size: 30mm;
  text-align: center;
  top:50%;
  left:35%;
  transform: translate(-50%, -50%);
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  color: wheat;
  font-weight: 300;
  letter-spacing: .08em;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.85), transparent);
}
.lastName{
  position:fixed;
  font-size: 30mm;
  text-align: center;
  top:50%;
  left:65%;
  transform: translate(-50%, -50%);
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  color: wheat;
  font-weight: 300;
  letter-spacing: .08em;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.85), transparent);
}